In [1]:
import pandas as pd

# Series (1D)

In [2]:
s = pd.Series([1,2,3,4,5,6])
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
s.describe()

count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000
dtype: float64

## Index
- Main difference between Pandas Series and Numpy Array is index in former.
- In that way, Pandas Series is like a middle-ground for lists and dictionaries.

In [32]:
telephone_codes = pd.Series(['011','022','033','044'], index=['Delhi', 'Mumbai', 'Kolkata', 'Madras'])
telephone_codes

Delhi      011
Mumbai     022
Kolkata    033
Madras     044
dtype: object

In [35]:
telephone_codes.describe()

count       4
unique      4
top       044
freq        1
dtype: object

#### Position VS Index

In [6]:
print("At position 0: ", telephone_codes[0])
print("At position 0: ", telephone_codes.iloc[0]) # iloc

print("At index Delhi: ", telephone_codes['Delhi'])
print("At index Delhi: ", telephone_codes.loc['Delhi']) # loc

At position 0:  011
At position 0:  011
At index Delhi:  011
At index Delhi:  011

#### Default Indices

In [7]:
pd.Series([1.1, 34.2, 99.12, 26.78])

0     1.10
1    34.20
2    99.12
3    26.78
dtype: float64

In [8]:
pd.Series([1.1, 34.2, 99.12, 26.78]).idxmax() # argmax

2

## Vectorized Operations
Cases for v1 v2:
- Both have same indices
- Overlapping indices, but not same
- Different indices

In [9]:
v1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
v2 = pd.Series([10,20,30,40], index=['b','c','a','d'])
print(v1, v2, v1+v2, sep='\n')

a    1
b    2
c    3
d    4
dtype: int64
b    10
c    20
a    30
d    40
dtype: int64
a    31
b    12
c    23
d    44
dtype: int64

In [10]:
v1 = pd.Series([1,2,3,4], index=['a','b','c','d'])
v2 = pd.Series([10,20,30,40], index=['a','d','e','f'])
print(v1, v2, v1+v2, sep='\n')

a    1
b    2
c    3
d    4
dtype: int64
a    10
d    20
e    30
f    40
dtype: int64
a    11.0
b     NaN
c     NaN
d    24.0
e     NaN
f     NaN
dtype: float64

#### Fill Value and Drop NaN

In [13]:
print("Drop NaN:", (v1+v2).dropna(), sep='\n')
print("Treat missing values as 0 before adding: ", v1.add(v2, fill_value=0), sep='\n')

Drop NaN:
a    11.0
d    24.0
dtype: float64
Treat missing values as 0 before adding:
a    11.0
b     2.0
c     3.0
d    24.0
e    30.0
f    40.0
dtype: float64

#### Apply

In [36]:
def abbreviate(country):
    return country.upper()[:2]

abbreviate('India')

'IN'

In [37]:
countries = pd.Series(["India","India", "Acanada", "Australia", "Denmark"])
countries.apply(abbreviate)

0    IN
1    IN
2    AC
3    AU
4    DE
dtype: object

In [38]:
countries.describe()

count         5
unique        4
top       India
freq          2
dtype: object

# Dataframe (2D)

In [40]:
pd.DataFrame({
    'Column 1': ['A1','A2','A3'],
    'Column 2': ['B1','B2','B3'],
    'Column 3': ['C1','C2','C3'],
})

  Column 1 Column 2 Column 3
0       A1       B1       C1
1       A2       B2       C2
2       A3       B3       C3

In [49]:
pd.DataFrame({
    'Column 1': ['A1','A2','A3'],
    'Column 2': [1,2,3],
    'Column 3': [True,False,True],
},
    index=['row1', 'row2', 'row3'])

     Column 1  Column 2  Column 3
row1       A1         1      True
row2       A2         2     False
row3       A3         3      True

In [53]:
pd.DataFrame({
    'Column 1': ['A1','A2','A3'],
    'Column 2': [1,2,3],
    'Column 3': [True,False,True],
},
    index=['row2', 'row2', 'row3'])

     Column 1  Column 2  Column 3
row2       A1         1      True
row2       A2         2     False
row3       A3         3      True

In [54]:
_.loc["row2"]

     Column 1  Column 2  Column 3
row2       A1         1      True
row2       A2         2     False

In [55]:
_.mean() # underscore variable usage

Column 2    1.5
Column 3    0.5
dtype: float64

In [57]:
movies_df = pd.read_csv('../Datasets/movie_metadata.csv')
movies_df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [58]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [48]:
movies_df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [63]:
movies_df_arr=movies_df.values
print(movies_df_arr.shape)
arr=movies_df['duration'].values
print(arr)
type(arr)

(5043, 28)
[178. 169. 148. ...  76. 100.  90.]

numpy.ndarray

In [54]:
dataset=movies_df.values
print(dataset.shape)

(5043, 28)

In [64]:
movies_df['movie_title'].values

array(['Avatar\xa0', "Pirates of the Caribbean: At World's End\xa0",
       'Spectre\xa0', ..., 'A Plague So Pleasant\xa0',
       'Shanghai Calling\xa0', 'My Date with Drew\xa0'], dtype=object)

In [41]:
movies_df.iloc[100]['movie_title']

'The Fast and the Furious\xa0'

In [68]:
movies_df.set_index('movie_title',inplace=True)

In [69]:
movies_df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
The Following,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [72]:
movies_df.loc['Toy Story\xa0']

color                                                                    Color
director_name                                                    John Lasseter
num_critic_for_reviews                                                     166
duration                                                                    74
director_facebook_likes                                                    487
actor_3_facebook_likes                                                     802
actor_2_name                                                 John Ratzenberger
actor_1_facebook_likes                                                   15000
gross                                                              1.91796e+08
genres                               Adventure|Animation|Comedy|Family|Fantasy
actor_1_name                                                         Tom Hanks
num_voted_users                                                         623757
cast_total_facebook_likes                                                19046
actor_3_name                                                        Jim Varney
facenumber_in_poster                                                         1
plot_keywords                           claw crane|cowboy|jealousy|rivalry|toy
movie_imdb_link              http://www.imdb.com/title/tt0114709/?ref_=fn_t...
num_user_for_reviews                                                       391
language                                                               English
country                                                                    USA
content_rating                                                               G
budget                                                                   3e+07
title_year                                                                1995
actor_2_facebook_likes                                                    1000
imdb_score                                                                 8.3
aspect_ratio                                                              1.85
movie_facebook_likes                                                         0
Name: Toy Story , dtype: object