In [1]:
import numpy as np
import pandas as pd

In [2]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('C:/Users/vikas/Downloads/ml-100k/ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3))
m_cols = ['movie_id', 'title']
movies = pd.read_csv('C:/Users/vikas/Downloads/ml-100k/ml-100k/u.item', sep='|',encoding = "ISO-8859-1", names=m_cols, usecols=range(2))

In [3]:
movies.head(10)

   movie_id                                              title
0         1                                   Toy Story (1995)
1         2                                   GoldenEye (1995)
2         3                                  Four Rooms (1995)
3         4                                  Get Shorty (1995)
4         5                                     Copycat (1995)
5         6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6         7                              Twelve Monkeys (1995)
7         8                                        Babe (1995)
8         9                            Dead Man Walking (1995)
9        10                                 Richard III (1995)

In [4]:
ratings.head(10)

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1
5      298       474       4
6      115       265       2
7      253       465       5
8      305       451       3
9        6        86       3

In [11]:
print("shape of Movies dataset: - " , movies.shape)
print("shape of ratings dataset: - " , ratings.shape)

shape of Movies dataset: -  (1682, 2)
shape of ratings dataset: -  (100000, 3)

In [12]:
# merge both the datasets
dataset = movies.merge(ratings , on='movie_id')

In [13]:
dataset.head(10)

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3
5         1  Toy Story (1995)        5       4
6         1  Toy Story (1995)      109       4
7         1  Toy Story (1995)      181       3
8         1  Toy Story (1995)       95       5
9         1  Toy Story (1995)      268       3

In [14]:
dataset.shape

(100000, 4)

In [15]:
# Creating the pivot_table
userRatings = dataset.pivot_table(index=['user_id'],columns=['title'],values='rating')
userRatings.head(10)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN
6,NaN,NaN,NaN,4.0,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,4.0,NaN,NaN,5.0,5.0,NaN,4.0,...,NaN,NaN,NaN,5.0,3.0,NaN,3.0,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,5.0,NaN,NaN,NaN,5.0,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
userRatings.shape

(943, 1664)

In [19]:
# calculating the correlation matrix
corrMatrix = userRatings.corr()
corrMatrix.head(10)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.000000,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.000000,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.000000,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.500000,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.500000,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN
2 Days in the Valley (1996),0.522233,NaN,0.048973,0.256625,0.596644,1.000000,0.240966,0.332724,NaN,0.000000,...,NaN,NaN,NaN,0.064559,0.156220,0.132017,0.204926,NaN,NaN,NaN
"20,000 Leagues Under the Sea (1954)",NaN,NaN,0.266928,0.274772,NaN,0.240966,1.000000,0.259308,NaN,-0.038127,...,NaN,NaN,NaN,-0.096465,-0.010894,-0.518476,0.623795,NaN,NaN,NaN
2001: A Space Odyssey (1968),-0.426401,-0.981981,-0.043407,0.178848,-0.554700,0.332724,0.259308,1.000000,NaN,0.367256,...,NaN,NaN,NaN,-0.001307,-0.174918,-0.154765,-0.341753,-1.000000,0.0,NaN
3 Ninjas: High Noon At Mega Mountain (1998),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"39 Steps, The (1935)",NaN,NaN,0.111111,0.457176,1.000000,0.000000,-0.038127,0.367256,NaN,1.000000,...,NaN,1.000000,NaN,0.179196,-0.337691,-0.054554,0.707107,NaN,NaN,NaN

In [21]:
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
corrMatrix.head(10)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2 Days in the Valley (1996),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"20,000 Leagues Under the Sea (1954)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001: A Space Odyssey (1968),NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,-0.001307,NaN,NaN,NaN,NaN,NaN,NaN
3 Ninjas: High Noon At Mega Mountain (1998),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"39 Steps, The (1935)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
corrMatrix.shape

(1664, 1664)

In [32]:
print(userRatings.loc[2].dropna().count())

61

In [33]:
print("Movies and their ratings for custom user 1")
#Can change user for 1 to any user and obtain recommendation for that user. Just change loc[number].
myRatings = userRatings.loc[2].dropna()
print('Count of user 2: -' , myRatings.count())
myRatings.head(10)

Movies and their ratings for custom user 1
Count of user 2: - 61

title
3 Ninjas: High Noon At Mega Mountain (1998)    1.0
Absolute Power (1997)                          3.0
Air Force One (1997)                           4.0
Antonia's Line (1995)                          3.0
Apt Pupil (1998)                               1.0
As Good As It Gets (1997)                      5.0
Bed of Roses (1996)                            3.0
Birdcage, The (1996)                           4.0
Breakdown (1997)                               4.0
Contact (1997)                                 3.0
Name: 2, dtype: float64

In [23]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print( "adding sims for " + myRatings.index[i] + "...")
    sims = corrMatrix[myRatings.index[i]].dropna()
    sims = sims.map(lambda x: x * myRatings[i])
    simCandidates = simCandidates.append(sims)
    
print( "sorting in decreasing order of similarity score: ")
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

adding sims for 3 Ninjas: High Noon At Mega Mountain (1998)...
adding sims for Absolute Power (1997)...
adding sims for Air Force One (1997)...
adding sims for Antonia's Line (1995)...
adding sims for Apt Pupil (1998)...
adding sims for As Good As It Gets (1997)...
adding sims for Bed of Roses (1996)...
adding sims for Birdcage, The (1996)...
adding sims for Breakdown (1997)...
adding sims for Contact (1997)...
adding sims for Deceiver (1997)...
adding sims for Devil's Advocate, The (1997)...
adding sims for Donnie Brasco (1997)...
adding sims for Emma (1996)...
adding sims for English Patient, The (1996)...
adding sims for Evita (1996)...
adding sims for Face/Off (1997)...
adding sims for FairyTale: A True Story (1997)...
adding sims for Fargo (1996)...
adding sims for Fierce Creatures (1997)...
adding sims for Fly Away Home (1996)...
adding sims for Full Monty, The (1997)...
adding sims for Godfather, The (1972)...
adding sims for Good Will Hunting (1997)...
adding sims for Heat (1995)...
adding sims for Hoodlum (1997)...
adding sims for Ice Storm, The (1997)...
adding sims for In & Out (1997)...
adding sims for Jerry Maguire (1996)...
adding sims for Kolya (1996)...
adding sims for L.A. Confidential (1997)...
adding sims for Leaving Las Vegas (1995)...
adding sims for Liar Liar (1997)...
adding sims for Marvin's Room (1996)...
adding sims for Men in Black (1997)...
adding sims for Midnight in the Garden of Good and Evil (1997)...
adding sims for Mighty Aphrodite (1995)...
adding sims for Mrs. Brown (Her Majesty, Mrs. Brown) (1997)...
adding sims for My Best Friend's Wedding (1997)...
adding sims for Once Upon a Time... When We Were Colored (1995)...
adding sims for Postino, Il (1994)...
adding sims for Promesse, La (1996)...
adding sims for Rainmaker, The (1997)...
adding sims for Restoration (1995)...
adding sims for Richard III (1995)...
adding sims for River Wild, The (1994)...
adding sims for Rosewood (1997)...
adding sims for Sabrina (1995)...
adding sims for Scream (1996)...
adding sims for Secrets & Lies (1996)...
adding sims for Sense and Sensibility (1995)...
adding sims for Shall We Dance? (1996)...
adding sims for Star Wars (1977)...
adding sims for Time to Kill, A (1996)...
adding sims for Tin Cup (1996)...
adding sims for Titanic (1997)...
adding sims for Toy Story (1995)...
adding sims for Truth About Cats & Dogs, The (1996)...
adding sims for Ulee's Gold (1997)...
adding sims for Up Close and Personal (1996)...
adding sims for Wings of the Dove, The (1997)...
sorting in decreasing order of similarity score:

Titanic (1997)                  5.0
Secrets & Lies (1996)           5.0
L.A. Confidential (1997)        5.0
Good Will Hunting (1997)        5.0
Godfather, The (1972)           5.0
Fargo (1996)                    5.0
Emma (1996)                     5.0
Kolya (1996)                    5.0
Sense and Sensibility (1995)    5.0
Star Wars (1977)                5.0
dtype: float64

In [24]:
type(corrMatrix[myRatings.index[4]].dropna())
simCandidates.shape

(2703,)

In [25]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()
simCandidates.head()

12 Angry Men (1957)             0.921447
2001: A Space Odyssey (1968)    5.057778
Absolute Power (1997)           4.527559
Abyss, The (1989)               2.811822
African Queen, The (1951)       3.762254
dtype: float64

In [43]:
simCandidates.shape

(301,)

In [44]:
print("Adding up the similarity scores of duplicate values:")
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)
#simCandidates.shape

Adding up the similarity scores of duplicate values:

English Patient, The (1996)    24.304502
Jerry Maguire (1996)           23.711966
Rock, The (1996)               21.250240
Toy Story (1995)               21.241851
Contact (1997)                 20.668629
Fargo (1996)                   20.598372
Air Force One (1997)           20.587342
Godfather, The (1972)          19.547445
Star Wars (1977)               18.984037
Titanic (1997)                 18.586013
dtype: float64

In [27]:
# Returns the Top 10 recommendations
print("Filtering the result to remove already rated movies:")
filteredSims = simCandidates.drop(myRatings.index, errors='ignore')
filteredSims.head(10)

Filtering the result to remove already rated movies:

Rock, The (1996)                             21.250240
Raiders of the Lost Ark (1981)               18.483661
Return of the Jedi (1983)                    17.947584
Independence Day (ID4) (1996)                17.730422
Back to the Future (1985)                    16.597338
Braveheart (1995)                            16.313714
Indiana Jones and the Last Crusade (1989)    15.855371
Mission: Impossible (1996)                   15.805824
Fugitive, The (1993)                         15.220034
E.T. the Extra-Terrestrial (1982)            15.146415
dtype: float64